h1 {
  text-align: center;
}

#language-detection, #translation {
  margin-bottom: 20px;
}

#result, #translation_result {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 20px;
}

/* CSS for Message Storage section */
h1 {
  text-align: center;
}

textarea {
  width: 100%;
}

p {
  margin-bottom: 10px;
}